.container {
    user-select: none;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    margin-top: 1.5vh;
    margin-left: 7vw;
    margin-right: 7vw;
    width: auto;
    max-width: 380px;
    margin-bottom: 80px;
}

.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.back_container {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.back_text {
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-main);
}

.back_container > svg {
    width: 18px;
    height: 18px;
    color: var(--dark-main);
    stroke-width: 2.5px;
}

.edit_text {
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-main);
    margin-right: 2vw;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_icon {
    color: var(--dark-main);
    stroke-width: 2.5px;
}

.character {
    display: flex;
    text-decoration: none;
}

.character:visited, .character:hover, 
.character:active, .character:link {
    color: var(--dark-main);
}


.up_part {
    display: flex;
    margin-bottom: 3vh;
}

.photo {
    width: 30vw;
    height: 30vw;
    min-width: 80px;
    max-width: 140px;
    min-height: 80px;
    max-height: 140px;
    margin-right: 7%;
    background-image: url("web-app/src/img/timeless.jpg");
}

.main_stats {
    height: 30vw;
    min-height: 80px;
    max-height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.stats {
    font-family: montserrat;
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-main);
}


.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: montserrat;
    font-size: 23px;
    font-weight: 600;
    color: var(--dark-main);
}


.levels {
    display: flex;
    font-family: montserrat;
    color: var(--dark-main);
    font-weight: 600;
    font-size: 13px;
    gap: 3vw;
    width: 100%;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    justify-content: space-between;
}

.stats_title {
    font-size: 20px;
    margin-bottom: 1vh;
}

.skills_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

.skill-level {
    margin-top: 0.7vh;
    display: flex;
    gap: 2px;
}
  
.skill-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--dark-main);
    background-color: rgba(211, 211, 211, 0);
}

.skill-circle.filled {
    background-color: var(--dark-main);
}
  

.inventory {
    font-family: montserrat;
    color: var(--dark-main);
    font-weight: 600;
    font-size: 16px;
}