body {
  background-color: var(--theme-main);
}

.version {
  margin-top: 10px;
  margin-left: 10px;
  color: var(--version-main);
  height: 100vh;
  font-family: montserrat;
  font-weight: 600;
  font-size: 12px;
}