.container {
    user-select: none;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2vh;
    margin-left: 7vw;
    margin-right: 7vw;
    width: auto;
    max-width: 380px;
    margin-bottom: 80px;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5vh;
}

.edit_text {
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-main);
    margin-right: 2vw;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_icon {
    color: var(--dark-main);
    stroke-width: 2.5px;
}

.character {
    display: flex;
    text-decoration: none;
}

.character:visited, .character:hover, 
.character:active, .character:link {
    color: var(--dark-main);
}

.title {
    font-family: montserrat;
    font-size: 19px;
    font-weight: 600;
    color: var(--dark-main);
    text-align: center;
    margin-bottom: 3vh;
}

.inventory {
    font-family: montserrat;
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-main);
    margin-bottom: 2vh;
}

.inventoryList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.itemCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    height: 70px;
    background-color: var(--light-main);
    font-family: montserrat;
    font-size: 15px;
    font-weight: 600;
    color: var(--background-main);
    text-align: center;
    margin-bottom: 2vh;
    border-radius: 7px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* затемнение фона */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background-color: var(--dark-main);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    color: var(--background-main);
    font-family: montserrat;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    position: relative;
}

.modalText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2vh;
    text-align: left;
}

.modalContent h2 {
    margin-top: 0;
}

.modalTitle {
    margin-bottom: 10px;
}

.modalContent button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: var(--background-main);
    color: var(--dark-main);
    font-family: montserrat;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}