.container {
    user-select: none;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2vh;
    margin-left: 7vw;
    margin-right: 7vw;
    width: auto;
    max-width: 380px;
    margin-bottom: 80px;
}

.fractions {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: montserrat;
    font-size: 19px;
    font-weight: 600;
    color: var(--dark-main);
    text-align: center;
    margin-bottom: 3vh;
}

.fraction {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3vh;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-main);
}

.reputation_container {
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-align: center;
  }

.reputation_bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
}

.rep_fill {
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.rep_marker {
    position: absolute;
    top: -3px;
    height: 16px;
    width: 8px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.575);
    border-radius: 3px;
}

.rep_hate { background-color: #6B2737; color: #6B2737; } 
.rep_hostile { background-color: #92374D; color: #92374D; }
.rep_feew { background-color: #A66B78; color: #A66B78; } 
.rep_neutral { background-color: #778DA9; color: #778DA9; } 
.rep_friendly { background-color: #58A4B0; color: #58A4B0; }
.rep_honored { background-color: #378BA4; color: #378BA4; }
.rep_revered { background-color: #1B4965; color: #1B4965; }
.rep_exalted { background-color: #206A8A; color: #206A8A; }

.rep_label {
    margin-top: 5px;
    font-size: 14px;
    background-color: transparent !important;
}
