.container {
    user-select: none;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2vh;
    margin-left: 7vw;
    margin-right: 7vw;
    width: auto;
    max-width: 380px;
    margin-bottom: 80px;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5vh;
}

.edit_text {
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-main);
    margin-right: 2vw;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_icon {
    color: var(--dark-main);
    stroke-width: 2.5px;
}

.character {
    display: flex;
    text-decoration: none;
    font-family: montserrat;
    color: var(--dark-main);
    font-weight: 600;
    background-color: #1b496500;
    gap: 2vw;
    border: 0px;
}

.character:visited, .character:hover, 
.character:active, .character:link {
    color: var(--dark-main);
}

.fractions {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: montserrat;
    font-size: 19px;
    font-weight: 600;
    color: var(--dark-main);
    text-align: center;
    margin-bottom: 3vh;
}

.fraction {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3vh;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-main);
}

.reputation_container {
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-align: center;
    width: 100%;
}

.reputation_bar {
    width: calc(100% - 60px);
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
}

.rep_fill {
    height: 100%;
    transition: width 0.3s ease-in-out;
    border-radius: 5px;

}

.rep_marker {
    position: absolute;
    top: -3px;
    height: 16px;
    width: 8px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.575);
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
}

.rep_hate { background-color: #6B2737; color: #6B2737; } 
.rep_hostile { background-color: #92374D; color: #92374D; }
.rep_feew { background-color: #A66B78; color: #A66B78; } 
.rep_neutral { background-color: #778DA9; color: #778DA9; } 
.rep_friendly { background-color: #58A4B0; color: #58A4B0; }
.rep_honored { background-color: #378BA4; color: #378BA4; }
.rep_revered { background-color: #1B4965; color: #1B4965; }
.rep_exalted { background-color: #206A8A; color: #206A8A; }

.rep_label {
    margin-top: 5px;
    font-size: 14px;
    background-color: transparent !important;
}

.reputation_controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.edit_button {
    width: 24px; /* Увеличил размер */
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-main);
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

.edit_button:first-child {
    left: 0;
}

.edit_button:last-child {
    right: 0;
}
