.container {
    user-select: none;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vh;
    margin-left: 7vw;
    margin-right: 7vw;
    width: auto;
    max-width: 350px;
}

.title {
    font-family: montserrat;
    font-size: 23px;
    font-weight: 600;
    color: var(--dark-main);
    margin-bottom: 1vh;
}

.buttons {
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-main);
    padding: 1%;
}

.input_container {
    display: flex;
    margin-bottom: 1vh;
    width: 100%;
    justify-content: space-between;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs > select,
.inputs > input {
    height: 20px;
    margin-bottom: 4px;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.input_tite {
    font-family: montserrat;
    color: var(--dark-main);
    font-size: 16px;
    height: 20px;
    margin-bottom: 12px;
}

.stats {
    display: flex;
    font-family: montserrat;
    color: var(--dark-main);
    font-weight: 500;
    gap: 3vw;
    margin-bottom: 4vh;
    margin-top: 2vh;;
    width: 100%;
    justify-content: space-between;
}

.stats_title {
    font-size: 16px;
    margin-bottom: 2vh;
}

.stat_title {
    font-size: 14px;
}

.num_stat {
    font-family: montserrat;
    color: var(--dark-main);
    font-weight: 500;
    margin-bottom: 0.5vh;
    text-align: center;
    width: 40%;
}
.buttons_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.class, .family, .type, .name {
    font-family: montserrat;
    color: var(--dark-main);
    font-weight: 500;
    font-size: 16px;
    padding: 3px;
    box-sizing:content-box;
}